{% extends 'base.html' %}

{% block content %}

    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>

    <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem;">
        <h1>
            testing
        </h1>
        <div class="testing" style="display: block;">aa</div>
        <div class="testing" style="display: inline;">bb</div>
        <div class="testing" style="display: None;">cc</div>
        <div class="testing" style="display: inline-block">dd</div>
        <div class="testing">ee</div>
    </div>
{% endblock %}