.progmatic_logo {
    font-family: 'Monomaniac One', sans-serif;
}

.progmatic_footer_button {
    font-size: .6rem;
}
.progmatic_footer {
    text-align:center; margin-top: 2rem;
}

.progmatic_header {
    text-align:center; margin: 2rem 0;
}
